.disabled circle.stone.placeholder:hover {
  opacity: 0;
}

.markers_layer text {
  pointer-events: none;
}

.grid_layer path {
  stroke-width: 1 !important;
  shape-rendering: auto !important;
}

.starpoints_layer circle:nth-child(6),
.starpoints_layer circle:nth-child(8),
.starpoints_layer circle:nth-child(7),
.starpoints_layer circle:nth-child(9) {
  display: none;
}

@keyframes pulse {
  from {
    font-size: 30px;
  }
  to {
    top: 24px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .drag-none {
    -webkit-user-drag: none;
  }
}

@layer base {
  img {
    @apply select-none drag-none;
  }
}
